*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     text-decoration: none;
}

#maincontainer{
     max-width: 900px;
     text-align: center;
     background-color: rgb(190, 137, 137);
     padding: 30px;
     position: absolute;
     top: 180px;
     left: 450px;
     border: 2px black solid;
     box-shadow: 0 0 25px black;


}
body {
    
    animation: animate 1s infinite;
    background-color: black;
    min-height: 100vh;
    touch-action: none;
   
}
@keyframes animate{
     10%{
          background-color: red;
          
     }
     20%{
          background-color: black;

     }
     30%{
          background-color: blue;
          
     }
     50%{
          background-color: rgb(72, 241, 0);
     }
     60%{
          background-color: rgb(242, 141, 0);
     }
     70%{
          background-color: rgb(0, 0, 0);
     }
     80%{
          background-color: rgb(124, 27, 87);
     }
     90%{
          background-color: rgb(21, 182, 226);
     }
     100%{
          background-color: rgb(230, 230, 10);
     }
    
}

h3{
     margin: 4px;
}

#players{
     border: 5px black solid;
}
     

#player1{
     display: inline-block;
     padding: 20px;
     margin: 10px;
     border: 20px rgb(0, 0, 0) solid;
     border-top: none ;
     border-left:none ;
     border-bottom:none ;
     padding-right: 40px;
     
}
#player2{
     display: inline-block;
     padding: 20px;
     margin: 10px;
}
.one{
     color:green;
     
     
}
.two{
     text-align: left;

}
#one{
     color: crimson;
     text-align: left;
     margin-bottom: 5px;

}
#two{
     color: crimson;
     text-align: left;
     margin-bottom: 5px;


}
#input,#inputtt{
     padding: 5px;
     padding-left: 12px;
     margin-bottom: 15px;
     border: 2px black solid;

}
#data,#score,#dataa,#scoree{
     text-align: left;
}
.btn{
     padding: 5px;
     border: 2px black solid;
     background-color: black;
     color: white;

}
#overlay{
     background-color: black;
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     opacity: 0.8;
     z-index: 1;
     display: block;
}
#start{
     font-size: 50px;
     padding: 10px;
     background-color: black;
     color: white;
     position: absolute;
     /* height: 100%;
     width: 100%; */
     z-index: 2;
     border: 2px white solid;
     top: 300px;
     left: 600px;
     display: block;
}
#pla1{
     font-size: 20px;
     padding: 10px;
     background-color: rgb(40, 219, 0);
     color: crimson;
     border: 2px rgb(0, 0, 0) solid;
     z-index: 4;
     position: absolute;
     top: 20px;
     left: 600px;
     display: none;
     text-align: center;
     padding: 20px;
}
#pla2{
     font-size: 20px;
     padding: 10px;
     background-color: rgb(40, 219, 0);
     color: crimson;
     border: 2px rgb(0, 0, 0) solid;
     z-index: 4;
     position: absolute;
     top: 20px;
     left: 600px;
     display: none;
     text-align: center;
     padding: 20px;
}
.try{
     background-color: black;
     color: white;
     padding: 5px;
     margin-top: 5px;


}
@media screen and (max-width:695px) {
     body{
          width: 500px;
          height: 500px;
     }
     #maincontainer{
    width: 400px;
     position: absolute;
     margin: 20px;
     top: 50px;
     left: 0px;

     
}
#overlay{
    
     position: absolute;
     height: 1100px;
     width: 700px;
     top: 0;
     opacity: 0.8;
     z-index: 1;
     display: block;
}
#start{
     font-size: 30px;
     padding: 10px;
     background-color: black;
     color: white;
     position: fixed;
     /* height: 100%;
     width: 100%; */
     z-index: 2;
     border: 2px white solid;
     top: 300px;
     left: 120px;
     display: block;
}
#player1{
     display: inline-block;
     padding: 20px;
     margin: 10px;
     border: none;
     border-top: none ;
     border-left:none ;
     border-bottom:20px rgb(0, 0, 0) solid; ;
     padding-right: 40px;
     
}
     
}
